In [ ]:
mystring = "Hello, World"

In [ ]:
print(mystring)

Hello, World

In [ ]:
name = "Allice"

In [ ]:
print("My name is :-",name)

My name is :- Allice

In [ ]:
fruits = ["apple","banana","orange"]
print(fruits)

['apple', 'banana', 'orange']

In [ ]:
person = {"name":'Bob',"age":19,"city":"New York"}
print(person)

{'name': 'Bob', 'age': 19, 'city': 'New York'}

In [ ]:
numbers=(1,2,3)
print(numbers)
x = list(numbers)
x[0]=10
y = tuple(x)
print(y)

(1, 2, 3)
(10, 2, 3)